{%- liquid
  assign highest_ratio = 0
  if block.settings.image.aspect_ratio > highest_ratio
    assign highest_ratio = block.settings.image.aspect_ratio
  endif
  assign number_of_columns = section.settings.columns_desktop
  assign number_of_columns_mobile = section.settings.columns_mobile
  assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
  assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
  assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
  assign image_width = 1
-%}
{% capture sizes %}
    (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
    (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
    (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
    calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
  {% endcapture %}

<div
  class="media media--transparent media--{{ block.settings.image_ratio }}"
  {% if block.settings.image_ratio == 'adapt' %}
    style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
  {% endif %}
>
  {{
    block.settings.image
    | image_url: width: 3200
    | image_tag:
      widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
      sizes: sizes,
      class: 'multicolumn-card__image'
  }}
</div>
{% schema %}
{
  "name": "Image with Caption",
  "class": "media media--square media media--transparent",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.all.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.all.image_ratio.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.all.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.all.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.all.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.all.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.all.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.all.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.all.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.all.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.all.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.all.desktop_content_position.label"
    }
  ],
  "presets": [{ "name": "Image with Caption" }]
}
{% endschema %}
