{%- style -%}
  .section-{{ section.id }}-padding {
     {% if section.settings.padding_top > 60 %}
       padding-top: {{ section.settings.padding_top | divided_by: 2 | round: 0 }}px;
     {% else %}
       padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
     {% endif %}
     {% if section.settings.padding_bottom > 60 %}
       padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 | round: 0 }}px;
     {% else %}
       padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
     {% endif %}
   }
   @media screen and (min-width: 750px) {
     .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top }}px;
       padding-bottom: {{ section.settings.padding_bottom }}px;
     }
   }
{%- endstyle -%}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
<div class="color-{{ section.settings.color_scheme }} gradient isolate section-{{ section.id }}-padding">
  <div
    id="slider-{{ section.id }}"
    class="{{ section.settings.page__width }}"
    data-autoplay_speed="{{ section.settings.autoplay_speed }}"
    data-gapless="{{ section.settings.gapless }}"
    section-id="{{ section.id }}"
  >
    <!-- main swiper, pass thumbs swiper as CSS selector -->
    <swiper-component
      class="swiper"
      data-swiper-config='
        {
          {%- if section.settings.autoplay -%}
          "autoplay": {
            "delay": {{ section.settings.autoplay_speed | times: 500 }},
            "disableOnInteraction": false
          },
          {%- endif -%}
          {%- if section.settings.loop == true -%}
            "loop": true,
          {%- endif -%}
          "navigation": {
            "nextEl": ".swiper-button-next",
            "prevEl": ".swiper-button-prev"
          },
          {%- if section.settings.slidereffect == 'slide' %}
          "slidesPerView": 1,
          "spaceBetween": false
         {%- else -%}
          "effect": "fade",
          "slidesPerView": 1
          {%- endif -%}
        }
      '
      data-pagination-type="{{ section.settings.slider_visual }}"
    >
      <div class="swiper-wrapper">
        {% content_for 'blocks' %}
      </div>
      <div class="slideshow__controls slideshow__controls--top">
        <button
          type="button"
          class="slider-button slider-button--prev swiper-button-arrows swiper-button-prev"
          name="previous"
          aria-label="{{ 'sections.announcements.previous_announcement' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          {% render 'icon-caret' %}
        </button>
        <div class="swiper-pagination static"></div>

        <button
          type="button"
          class="slider-button slider-button--next swiper-button-arrows swiper-button-next"
          name="next"
          aria-label="{{ 'sections.announcements.next_announcement' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          {% render 'icon-caret' %}
        </button>

        {%- if section.settings.autoplay -%}
          <button
            type="button"
            class="slideshow__autoplay slider-button{% if section.settings.autoplay == false %} slideshow__autoplay--paused{% endif %}"
            aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
          >
            {%- render 'icon-pause' -%}
            {%- render 'icon-play' -%}
          </button>
        {%- endif -%}
      </div>
    </swiper-component>
  </div>
</div>

{% schema %}
{
  "name": "Swiper slideshow",
  "tag": "section",
  "class": "swiper-slideshow mount-slideshow mount-video-background supports-absolute-header",
  "settings": [
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "Adapt to first image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Slide height"
    },
    {
      "type": "select",
      "id": "page__width",
      "label": "t:sections.all.section-width.label",
      "default": "full-width",
      "options": [
        {
          "label": "t:sections.all.section-width.full-width.label",
          "value": "full-width"
        },
        {
          "label": "t:sections.all.section-width.page-width.label",
          "value": "page-width"
        },
        {
          "label": "t:sections.all.section-width.narrow-width.label",
          "value": "page-width page-width--narrow"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.slider-settings.name"
    },
    {
      "type": "select",
      "id": "slidereffect",
      "label": "t:sections.slider-settings.settings.slider-effect.label",
      "default": "slide",
      "options": [
        {
          "value": "slide",
          "label": "t:sections.slider-settings.settings.slider-effect.slide.label"
        },
        {
          "value": "fade",
          "label": "t:sections.slider-settings.settings.slider-effect.fade.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:sections.slider-settings.settings.slider-effect.info"
    },
    {
      "type": "range",
      "id": "grid-desktop",
      "label": "t:sections.slider-settings.settings.slide-desktop-per-view.label",
      "default": 5,
      "min": 1,
      "max": 10,
      "step": 0.5
    },
    {
      "type": "range",
      "id": "grid-tablet",
      "label": "t:sections.slider-settings.settings.slide-tablet-per-view.label",
      "default": 4,
      "min": 1,
      "max": 10,
      "step": 0.5
    },
    {
      "type": "range",
      "id": "grid-mobile",
      "label": "t:sections.slider-settings.settings.slide-mobile-per-view.label",
      "default": 1,
      "min": 1,
      "max": 5,
      "step": 0.5
    },
    {
      "type": "checkbox",
      "id": "gapless",
      "label": "t:sections.all.padding.gapless",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "centered-mode",
      "label": "t:sections.slider-settings.settings.center-mode.label",
      "default": false
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.slider-settings.settings.slider_visual.dots.label"
        },
        {
          "value": "counter",
          "label": "t:sections.slider-settings.settings.slider_visual.counter.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.slider-settings.settings.slider_visual.numbers.label"
        },
        {
          "value": "none",
          "label": "t:sections.slider-settings.settings.slider_visual.none.label"
        }
      ],
      "default": "numbers",
      "label": "t:sections.slider-settings.settings.slider_visual.label"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.slider-settings.settings.auto-slides.label",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:sections.slider-settings.settings.change_slides_speed.label",
      "min": 1,
      "max": 40,
      "step": 0.5,
      "default": 5,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "t:sections.slider-settings.settings.loop.label",
      "info": "t:sections.slider-settings.settings.loop.info",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "t:sections.slideshow.settings.show_text_below.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [{ "type": "swiper-slide" }],
  "presets": [
    {
      "name": "Swiper slideshow",
      "blocks": [
        {
          "type": "swiper-slide",
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "heading": "Image slide",
                "heading_size": "h1"
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Tell your brand's story through images</p>"
              }
            },
            {
              "type": "link",
              "settings": {
                "label": "Button label",
                "spacing": {
                  "padding": "10px 30px"
                }
              }
            }
          ]
        },
        {
          "type": "swiper-slide",
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "heading": "Image slide",
                "heading_size": "h1"
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Tell your brand's story through images</p>"
              }
            },
            {
              "type": "link",
              "settings": {
                "label": "Button label",
                "spacing": {
                  "padding": "10px 30px"
                }
              }
            }
          ]

        },
        {
          "type": "swiper-slide",
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "heading": "Image slide",
                "heading_size": "h1"
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Tell your brand's story through images</p>"
              }
            },
            {
              "type": "link",
              "settings": {
                "label": "Button label",
                "spacing": {
                  "padding": "10px 30px"
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
