{%- style -%}
  .section-{{ section.id }}-padding {
     {% if section.settings.padding_top > 60 %}
       padding-top: {{ section.settings.padding_top | divided_by: 2 | round: 0 }}px;
     {% else %}
       padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
     {% endif %}
     {% if section.settings.padding_bottom > 60 %}
       padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 | round: 0 }}px;
     {% else %}
       padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
     {% endif %}
   }
   @media screen and (min-width: 750px) {
     .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top }}px;
       padding-bottom: {{ section.settings.padding_bottom }}px;
     }
   }
{%- endstyle -%}

<div
  id="slider-{{ section.id }}"
  class="page-width section-{{ section.id }}-padding"
  data-autoplay_speed="{{ section.settings.autoplay_speed }}"
  data-gapless="{{ section.settings.gapless }}"
  section-id="{{ section.id }}"
>
  <h2>Swiper main with thumbs</h2>
  <!-- main swiper, pass thumbs swiper as CSS selector -->
  <swiper-component
    class="swiper"
    data-swiper-config='{
    "slidesPerView": {{ section.settings.grid-mobile }},
    {% if section.settings.gapless %}
    "spaceBetween": false,
    {% else %}
    "spaceBetween": {{ settings.spacing_grid_horizontal | divided_by: 2 }},
    {% endif %}
    {% if section.settings.autoplay %}
    "autoplay": {
      "delay": {{ section.settings.autoplay_speed | times: 500 }},
      "disableOnInteraction": false
    },
    {% endif %}
    {% if section.settings.centered-mode %}
    "centeredSlides": {{ section.settings.centered-mode }},
    {% endif %}
    {% if section.settings.centered-mode == true or section.settings.loop == true %}
    "loop": true,
    {% endif %}
    "navigation": {
      "nextEl": ".swiper-button-next",
      "prevEl": ".swiper-button-prev"
    },
    "pagination": {
      "el": ".swiper-pagination",
      "clickable": true
    },
    "breakpoints": {
      "750": {
        "slidesPerView": {{ section.settings.grid-tablet }},
        "spaceBetween": {% if section.settings.gapless %}false{% else %}{{ settings.spacing_grid_horizontal }}{% endif %}
      },
      "990": {
        "slidesPerView": {{ section.settings.grid-desktop }},
        "spaceBetween": {% if section.settings.gapless %}false{% else %}{{ settings.spacing_grid_horizontal }}{% endif %}
      }
    }
  }'
  >
    <div class="swiper-wrapper ">
      {% content_for 'blocks' %}
    </div>
    <div class="slideshow__controls slideshow__controls--top">
      <button
        type="button"
        class="slider-button slider-button--prev swiper-button-arrows swiper-button-prev"
        name="previous"
        aria-label="{{ 'sections.announcements.previous_announcement' | t }}"
        aria-controls="Slider-{{ section.id }}"
      >
        {% render 'icon-caret' %}
      </button>
      <div class="swiper-pagination static"></div>
     
      <button
        type="button"
        class="slider-button slider-button--next swiper-button-arrows swiper-button-next"
        name="next"
        aria-label="{{ 'sections.announcements.next_announcement' | t }}"
        aria-controls="Slider-{{ section.id }}"
      >
        {% render 'icon-caret' %}
      </button>
      
      {%- if section.settings.autoplay -%}
        <button
          type="button"
          class="slideshow__autoplay slider-button{% if section.settings.autoplay == false %} slideshow__autoplay--paused{% endif %}"
          aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
        >
          {%- render 'icon-pause' -%}
          {%- render 'icon-play' -%}
        </button>
      {%- endif -%}
    </div>
  </swiper-component>
</div>

{% schema %}
{
  "name": "Swiper Slider",
  "tag": "section",
  "class": "mount-css-slider mount-slideshow mount-video-background supports-absolute-header",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.slider.settings.heading.default",
      "label": "t:sections.slider.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.all.heading_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.all.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.all.image_ratio.label"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "range",
      "id": "grid-desktop",
      "label": "Slide Per View Desktop",
      "default": 5,
      "min": 1,
      "max": 10,
      "step": 0.5
    },
    {
      "type": "range",
      "id": "grid-tablet",
      "label": "Slide Per View Tablet",
      "default": 4,
      "min": 1,
      "max": 10,
      "step": 0.5
    },
    {
      "type": "range",
      "id": "grid-mobile",
      "label": "Slide Per View Mobile",
      "default": 1,
      "min": 1,
      "max": 5,
      "step": 0.5
    },  
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Change slides every (seconds)",
      "min": 1,
      "max": 40,
      "step": 0.5,
      "default": 5,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "centered-mode",
      "label": "Centered mode",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "gapless",
      "label": "Make gapless?",
      "default": false
    },
    {
      "type": "select",
      "id": "slidereffect",
      "label": "Slider Effect",
      "default": "slide",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [{ "type": "swiper-slide" }],
  "presets": [
    {
      "name": "Swiper Slider",
      "blocks": [
        {
          "type": "swiper-slide",
          "settings": {
            "text": "This is a text block inside a group block!"
          }
        }
      ]
    }
  ]
}
{% endschema %}
